#root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #727477;
}

*::-webkit-scrollbar {
    width: 10px;
    // border-radius: 20px;
}

*::-webkit-scrollbar-track {
    background: #727477;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #727477;
    // border-radius: 20px;
    border: 1px solid #727477;
}
